html, body, .page{
    height: 100%;
    width: 100%;
}

header{
    height: 100%;
    width: 100%;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    color: $color-bg;
    font-family: $font-title;
}

.header-content {
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
}


.header-content h1 {
    top: 50%;
    font-family: $font-title;
    font-size: 2.625rem;
    line-height: 3.438rem;
}
.header-content p {
    font-family: $font-main;
    font-size: 1rem;
    color: white;
}

.scroll-down {
    width: 45px;
    height: 45px;
    margin: 45px 122px 0 94px;
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    background-color: $color-bg;
    position: relative;
    transform: translate(17px, -10px);
}
.scroll-down img{
    padding-bottom: 10px;
    justify-content: center;
}

.header-menu-icon{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 14px;
    background-color: #0271bc;
}
.header-menu-icon img{
    width: 16px;
    height: 14px;
}

@media (min-width: 768px) {
    .header-content {
        top: 40%;
    }
    .header-content h1 {
        font-size: 5rem;
        line-height: 6.625rem;
   }
    .header-content p {
        font-size: 1.5rem;
    }
    
}
@media (min-width: 1280px) {
    .header-content {
        top: 60%;
    }
    .header-content h1 {
        font-size: 6.25rem;
        line-height: 8.25rem;
   }
    
  }