.reasons {
    background-color: $color-blue;
    padding: 30px 15px 60px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
.reasons h3{
    margin-top: 45px;
}
.reasons p{
    margin: 0 70px ;
}
.reasons .go_button{
    background-color: $color-go;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 2em;
    max-width: 300px;
    text-transform: capitalize;
    
}
@media (min-width: 768px) {
    .reasons__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .h3{
        font-size: 1.5rem;
    }
    .reasons .go_button{
        max-width: 240px;
    }
}
@media (min-width: 1280px) {
    .h3{
        font-size: 1.5rem;
    }
    
}
    