<footer>
    <a href="#top">
        <div class="scroll-up"><img src="./images/ico-arrow.svg" alt="top arrow"></div>
    </a>
    <div class="footer__container">
        <section>
            <nav class="footer__nav">
                <ul class="footer-text">
                    <li><a href="https://adalab.es/">Articles</a></li>
                    <li><a href="https://adalab.es/">Books</a></li>
                    <li><a href="https://adalab.es/">Events</a></li>
                    <li><a href="https://adalab.es/">Reasons</a></li>
                    <li><a href="https://adalab.es/">Tips</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <nav class="footer__nav__socials">
                <ul class="footer-text">
                    <li><a href="https://adalab.es/">Twitter</a></li>
                    <li><a href="https://adalab.es/">Instagram</a></li>
                    <li><a href="https://adalab.es/">Mastodon.social</a></li>
                </ul>
            </nav>
        </section>
        <section class="footer__container__copy">
            <span class="footer-copy">&copy;2023</span>
            <div class="footer-copy">we <span class="heart">❤︎</span> components</div>
        </section>
    </div>
</footer>