<footer>
    <a href="#top">
        <div class="scroll-up"><img src="../images/ico-arrow.svg" alt="top arrow"></div>
    </a>
    <div class="footer__container">
        <section>
            <nav class="footer__nav">
                <ul class="footer-text">
                    <!-- <li><a class="footer_link" href="./index.html/#_equipo">EQUIPO</a></li> -->
                    <li><a href="https://adalab.es/"></a>Articles</li>
                    <li><a href="https://adalab.es/"></a>Books</li>
                    <li><a href="https://adalab.es/"></a>Events</li>
                    <li><a href="https://adalab.es/"></a>Reasons</li>
                    <li><a href="https://adalab.es/"></a>Tips</li>
                    <!-- <a href="https://adalab.es/">
                        <li>Articles</li>
                    </a>
                    <a href="https://adalab.es/">
                        <li>Books</li>
                    </a>
                    <a href="https://adalab.es/">
                        <li>Events</li>
                    </a>
                    <a href="https://adalab.es/">
                        <li>Reasons</li>
                    </a>
                    <a href="https://adalab.es/">
                        <li>Tips</li>
                    </a> -->
                </ul>
            </nav>
        </section>
        <section>
            <nav class="footer__nav__socials">
                <ul class="footer-text">
                    <li><a href="https://adalab.es/"></a>Twitter</li>
                    <li><a href="https://adalab.es/"></a>Instagram</li>
                    <li><a href="https://adalab.es/"></a>Mastodon.social</li>
                </ul>
            </nav>
        </section>
        <section class="footer__container__copy">
            <span class="footer-copy">&copy;2023</span>
            <div class="footer-copy">we <span class="heart">❤︎</span> components</div>
        </section>
    </div>
</footer>