<footer>
    <section>we ❤︎ components</section>
    <section>©2017</section>
    <section>
        <nav>
            <ul>
                <li>Articles</li>
                <li>Books</li>
                <li>Events</li>
                <li>Reasons</li>
                <li>Tips</li>
            </ul>
        </nav>
    </section>
    <section>
        <nav>
            <ul>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Mastodon.social</li>
            </ul>
        </nav>
    </section>
</footer>